<li style = "height:%%GLOBAL_ProductTinyBoxHeight%%px; width:%%GLOBAL_ProductTinyBoxWidth%%px;"  onmouseover="%%GLOBAL_TinyImageOverJavascript%%" onclick="%%GLOBAL_TinyImageClickJavascript%% return false;" id="TinyImageBox_%%GLOBAL_ProductThumbIndex%%">
	<div class="TinyOuterDiv" style = "height:%%GLOBAL_ProductMaxTinyHeight%%px; width:%%GLOBAL_ProductMaxTinyWidth%%px;">
		<div style = "height:%%GLOBAL_ProductMaxTinyHeight%%px; width:%%GLOBAL_ProductMaxTinyWidth%%px;">
			<a href="#"><img id="TinyImage_%%GLOBAL_ProductThumbIndex%%" style="padding-top:%%GLOBAL_TinyImageTopPadding%%px;" width="%%GLOBAL_TinyImageWidth%%" height="%%GLOBAL_TinyImageHeight%%" src="%%GLOBAL_ProductTinyImageURL%%" alt="%%GLOBAL_ImageDescription%%" title="%%GLOBAL_ImageDescription%%" /></a>
		</div>
	</div>
</li>
