<head>
	%%GLOBAL_OptimizerControlScript%%

	<title>%%Page.WindowTitle%%</title>

	<meta http-equiv="Content-Type" content="text/html; charset=%%GLOBAL_CharacterSet%%" />
	<meta name="description" content="%%Page.MetaDescription%%" />
	<meta name="keywords" content="%%Page.MetaKeywords%%" />
	%%GLOBAL_AdditionalMetaTags%%
	%%Page.CanonicalLink%%
	%%Page.Robots%%
	<meta http-equiv="Content-Script-Type" content="text/javascript" />
	<meta http-equiv="Content-Style-Type" content="text/css" />
	<link rel="shortcut icon" href="%%GLOBAL_Favicon%%" />

	%%GLOBAL_Stylesheets%%

	<!-- Tell the browsers about our RSS feeds -->
	%%GLOBAL_HeadRSSLinks%%

	<!-- Include visitor tracking code (if any) -->
	%%GLOBAL_TrackingCode%%

	%%GLOBAL_DesignModeStyleSheet%%

	%%GLOBAL_HeaderImageStyle%%

	<script type="text/javascript" src="%%GLOBAL_ShopPath%%/javascript/jquery.js?%%GLOBAL_JSCacheToken%%"></script>
	<script type="text/javascript" src="%%GLOBAL_ShopPath%%/javascript/menudrop.js?%%GLOBAL_JSCacheToken%%"></script>
	<script type="text/javascript" src="%%GLOBAL_ShopPath%%/javascript/common.js?%%GLOBAL_JSCacheToken%%"></script>
	<script type="text/javascript" src="%%GLOBAL_ShopPath%%/javascript/iselector.js?%%GLOBAL_JSCacheToken%%"></script>

	<script type="text/javascript">
	//<![CDATA[
	config.ShopPath = '%%GLOBAL_ShopPath%%';
	config.AppPath = '%%GLOBAL_AppPath%%';
	var ThumbImageWidth = %%GLOBAL_ProductThumbImageWidth%%;
	var ThumbImageHeight = %%GLOBAL_ProductThumbImageHeight%%;
	//]]>
	</script>
	%%GLOBAL_AdditionalScriptTags%%
	%%GLOBAL_QuickSearchJS%%
	%%GLOBAL_RTLStyles%%
</head>
