	%%GLOBAL_OptimizerLinkScript%%	
		
		<div id="TopMenu">
			<ul style="display:%%GLOBAL_HidePurchasingOptions%%">
				<li style="%%GLOBAL_LiveChatCodeEnabled%%" class="HeaderLiveChat">
					%%GLOBAL_LiveChatCode%%
				</li>
				<li style="display:%%GLOBAL_HideAccountOptions%%" class="First"><a href="%%GLOBAL_ShopPath%%/account.php">%%LNG_YourAccount%%</a></li>
				<li style="display:%%GLOBAL_HideAccountOptions%%"><a href="%%GLOBAL_ShopPath%%/orderstatus.php">%%LNG_OrderStatus%%</a></li>
				<li style="display:%%GLOBAL_HideWishlist%%"><a href="%%GLOBAL_ShopPath%%/wishlist.php">%%LNG_YourWishList%%</a></li>
				%%SNIPPET_TopMenuGiftCertificates%%
				<li style="display:%%GLOBAL_HideCartOptions%%" class="CartLink"><a href="%%GLOBAL_ShopPathNormal%%/cart.php">%%LNG_ViewCart%% <span>%%GLOBAL_CartItems%%</span></a></li>
				<li style="display:%%GLOBAL_HideAccountOptions%%">
					<div>
						%%GLOBAL_LoginOrLogoutText%%
					</div>
				</li>
			</ul>
			<br class="Clear" />
		</div>