    <!-- REQ10046 - El boton de Refrescar Existencia solo sale si se tiene una direccion de IntelisisWebService -->
    %%GLOBAL_ProductStockDetailRefreshButton%%
    <div class="DetailRow" style="display: %%GLOBAL_ProductStockDetailDisplay%%">
	    <table id="ProductStockDetailTable" class="ProductStockDetailTable">
	    	<!-- REQ10046 - Esta tabla se llena desde el PHP de este panel, y se actualiza con el boton de Refrescar, o al cambiar de opciones de variacion -->
	    	%%GLOBAL_ProductStockDetailTable%%
	    </table>
    </div>

