							<li class="%%GLOBAL_LastChildClass%%">
								<div class="CategoryImage">
									<a href="%%GLOBAL_CategoryLink%%" style="text-decoration: none;"><img src="%%GLOBAL_CategoryImage%%" border="0" /></a><br />
								</div>
								<div class="CategoryName">
									<strong><a href="%%GLOBAL_CategoryLink%%">%%GLOBAL_CategoryName%%</a></strong>
								</div>
								<div class="CategoryDescription">
									<span class="CategoryDescription">%%GLOBAL_CategoryDescription%%</span>
								</div>
								<div class="CategoryGoTo">
									<a href="%%GLOBAL_CategoryLink%%">%%LNG_ViewCategory%%</a>
								</div>
							</li>