<li>
	<fieldset>
		<legend>%%LNG_Return%% #%%GLOBAL_ReturnId%% - %%GLOBAL_ReturnStatus%%</legend>

		<dl class="VerticalFormContainer">
			<dt>%%LNG_ReturnedItem%%:</dt>
			<dd>%%GLOBAL_ReturnedQuantity%%%%GLOBAL_ReturnedProduct%% %%GLOBAL_ReturnedProductOptions%%</dd>

			<dt>%%LNG_DateRequested%%:</dt>
			<dd>%%GLOBAL_DateRequested%%</dd>

			<dt>%%LNG_ReturnReason%%:</dt>
			<dd>%%GLOBAL_ReturnReason%%</dd>

			<dt style="display: %%GLOBAL_HideReturnAction%%">%%LNG_ReturnAction%%:</dt>
			<dd>%%GLOBAL_ReturnAction%%</dd>

			<dt style="display: %%GLOBAL_HideReturnComment%%">%%LNG_YourComments%%:</dt>
			<dd style="display: %%GLOBAL_HideReturnComment%%">%%GLOBAL_ReturnComments%%</dd>
		</dl>
	</fieldset>
</li>