<div class="Block Moveable Panel" id="ChooseBillingAddress">
	<h2>%%GLOBAL_CheckoutShippingTitle%%</h2>
	%%Discount.FreeShippingEligibility%%
	<div class="BlockContent">
		<ul class="ShippingAddressList">
			%%SNIPPET_ShippingAddressList%%
		</ul>
		...%%LNG_Or%% <a href="account.php?action=add_shipping_address&amp;from=account.php?action=add_shipping_address&amp;from=checkout.php?action=choose_billing_address">%%LNG_LowerCreateNewAddress%%</a>
	</div>
</div>

%%Panel.ChooseShippingAddressJavaScript%%