<div class="DetailRow">
	<div class="Label">
		%%GLOBAL_EventDateName%%:
	</div>
	<div class="Value">
		<select id="EventDateMonth" name="EventDate[Mth]" class="CalendarSelectSmall" style="margin-bottom:3px; %%GLOBAL_EventDateMonthStyle%%">
			%%GLOBAL_OverviewToMonths%%
		</select>
		<select id="EventDateDay" name="EventDate[Day]" class="CalendarSelectSmall" style="margin-bottom:3px; %%GLOBAL_EventDateDayStyle%%">
			%%GLOBAL_OverviewToDays%%
		</select>
		<select id="EventDateYear" name="EventDate[Yr]" class="CalendarSelectSmall" style="margin-bottom:3px; %%GLOBAL_EventDateYearStyle%%">
			%%GLOBAL_OverviewToYears%%
		</select>
		<div>
			%%GLOBAL_EventDateLimitations%%
		</div>
	</div>
</div>