				<tr>
					<td>
						<a href="#" onclick="return AddCustomField()"><img src="admin/images/addicon.gif" alt="Add" border="0" /></a>
						<a href="#" onclick="return DelCustomField(this.parentNode.parentNode)" style="display: %%GLOBAL_HideOrderfastDelete%%;"><img src="admin/images/delicon.gif" alt="Del" border="0" /></a>
					</td>
					<td>
						<input type="text" id="orderfastProductSKU[%%GLOBAL_orderfastFieldId%%]" name="orderfastProductSKU[%%GLOBAL_orderfastFieldId%%]" class="Field150" value="%%GLOBAL_orderfastProductSKU%%" />
					</td>
					<td>
						<input type="text" id="orderfastProductQty[%%GLOBAL_orderfastFieldId%%]" name="orderfastProductQty[%%GLOBAL_orderfastFieldId%%]" class="Field20" value="%%GLOBAL_orderfastProductQty%%" size="5" />
					</td>
					<td>
						%%GLOBAL_orderfastProductName%%
					</td>
					<td>
						%%GLOBAL_orderfastProductPrice%%
					</td>
					<td>
						%%GLOBAL_orderfastProductDiscount%%
					</td>
					<td>
						%%GLOBAL_orderfastProductTotal%%
					<td>
						%%GLOBAL_orderfastProductCurrency%%
					</td>
					<td>
						%%GLOBAL_orderfastProductStorage%%
					</td>
					<td style="display: none">
						<input type="hidden" id="orderfastProductType[%%GLOBAL_orderfastFieldId%%]" name="orderfastProductType[%%GLOBAL_orderfastFieldId%%]" value="%%GLOBAL_orderfastProductType%%" />
						<input type="hidden" id="orderfastProductId[%%GLOBAL_orderfastFieldId%%]" name="orderfastProductId[%%GLOBAL_orderfastFieldId%%]" value="%%GLOBAL_orderfastProductId%%" />
					</td>
				</tr>