	<tr>
		<td class="CartThumb" style="%%GLOBAL_HideThumbColumn%%">
			%%GLOBAL_ProductImage%%&nbsp;
		</td>
		<td class="ProductName" colspan="%%GLOBAL_ProductNameSpan%%">
			<a href="%%GLOBAL_ProductLink%%">%%GLOBAL_ProductName%%</a>%%GLOBAL_ProductOptions%%
			<br />
			%%GLOBAL_ProductAvailability%%
			<div class="CartExpectedReleaseDate" style="%%GLOBAL_HideExpectedReleaseDate%%">(%%GLOBAL_ProductExpectedReleaseDate%%)</div>
			%%GLOBAL_EventDate%%

			<div style="%%GLOBAL_HideCartProductFields%%" class="CartProductFieldsLink">
				%%LNG_ConfigurableOptions%%:
				<a href="#" onclick="Cart.ShowEditOptionsInCartForm('%%GLOBAL_CartItemId%%'); return false;">%%LNG_Change%%</a>
				%%GLOBAL_CartProductFields%%
			</div>

		</td>
		<td align="center" class="CartItemQuantity">
			%%GLOBAL_QuotationItemQty%%
			<div style="%%GLOBAL_HideCartItemRemove%%">
				<a href="cart.php?action=remove&amp;item=%%GLOBAL_CartItemId%%" onclick="Cart.RemoveItem('%%GLOBAL_CartItemId%%'); return false;" class="CartRemoveLink">%%LNG_Remove%%</a>
			</div>
		</td>
		<td align="center" class="CartItemIndividualPrice">
			%%GLOBAL_ProductPrice%%
		</td>
		<td align="right" class="CartItemTotalPrice"><em class="ProductPrice">%%GLOBAL_ProductTotal%%</em></td>
	</tr>