				<tr>
					<td>
						%%GLOBAL_quotationName%%
					</td>
					<td>
						%%GLOBAL_quotationDate%%
					</td>
					<td>
						<a href="/quotation.php?ToDo=viewquotation&quotationid=%%GLOBAL_quotationId%%">Ver</a>
					</td>
					<td>
						<a href="/quotation.php?ToDo=deletequotation&quotationid=%%GLOBAL_quotationId%%">Borrar</a>
					</td>
					<td>
						%%GLOBAL_quotationCart%%
						<!-- <a href="/quotation.php?ToDo=sendtocart&quotationid=%%GLOBAL_quotationId%%">Enviar a carrito</a>  -->
					</td>
				</tr>