<select id="{{ SelectId|safe }}" name="var_{{ SelectId|safe }}" class="Field45">
	<option {{ Quantity1|safe }} value="1">1</option>
	<option {{ Quantity2|safe }} value="2">2</option>
	<option {{ Quantity3|safe }} value="3">3</option>
	<option {{ Quantity4|safe }} value="4">4</option>
	<option {{ Quantity5|safe }} value="5">5</option>
	<option {{ Quantity6|safe }} value="6">6</option>
	<option {{ Quantity7|safe }} value="7">7</option>
	<option {{ Quantity8|safe }} value="8">8</option>
	<option {{ Quantity9|safe }} value="9">9</option>
	<option {{ Quantity10|safe }} value="10">10</option>
	<option {{ Quantity11|safe }} value="11">11</option>
	<option {{ Quantity12|safe }} value="12">12</option>
	<option {{ Quantity13|safe }} value="13">13</option>
	<option {{ Quantity14|safe }} value="14">14</option>
	<option {{ Quantity15|safe }} value="15">15</option>
	<option {{ Quantity16|safe }} value="16">16</option>
	<option {{ Quantity17|safe }} value="17">17</option>
	<option {{ Quantity18|safe }} value="18">18</option>
	<option {{ Quantity19|safe }} value="19">19</option>
	<option {{ Quantity20|safe }} value="20">20</option>
	<option {{ Quantity21|safe }} value="21">21</option>
	<option {{ Quantity22|safe }} value="22">22</option>
	<option {{ Quantity23|safe }} value="23">23</option>
	<option {{ Quantity24|safe }} value="24">24</option>
	<option {{ Quantity25|safe }} value="25">25</option>
	<option {{ Quantity26|safe }} value="26">26</option>
	<option {{ Quantity27|safe }} value="27">27</option>
	<option {{ Quantity28|safe }} value="28">28</option>
	<option {{ Quantity29|safe }} value="29">29</option>
	<option {{ Quantity30|safe }} value="30">30</option>
</select>