<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
%%Panel.HTMLHead%%
<body>
	<script type="text/javascript" src="%%GLOBAL_AppPath%%/javascript/product.functions.js?%%GLOBAL_JSCacheToken%%"></script>
	<script type="text/javascript" src="%%GLOBAL_AppPath%%/javascript/product.js?%%GLOBAL_JSCacheToken%%"></script>
	<div id="Container">
	%%Panel.Header%%
	<div id="Wrapper">
		%%Panel.WrapperBanner%%
		<div class="Content Wide" id="LayoutColumn1">
			%%Panel.HeaderSearch%%
			%%Panel.ProductDetails%%
			%%Panel.ProductTabs%%
			%%Panel.ProductDescription%%
			%%Panel.ProductMiscDetails%%
			%%Panel.ProductVendorsOtherProducts%%
			%%Panel.ProductReviews%%
			%%Panel.SideProductRelated%%
		</div>
		<div class="Right" id="LayoutColumn2">
			%%Panel.PagesMenu%%
		</div>

	</div>
	%%Panel.Footer%%
</div>
</body>
</html>