%%GLOBAL_OptimizerLinkScript%%

%%GLOBAL_CartCheckoutButtonControlScript%%
<div class="Block Moveable Panel" id="CartHeader">
	<h2>
		<span style="%%GLOBAL_HideCheckoutButton%%;" class="FloatRight">
			<a href="%%GLOBAL_CheckoutLink%%" onclick="%%GLOBAL_OptimizerLinkFunction%%" title="%%LNG_CheckoutButtonTitle%%">
			
			%%GLOBAL_CartCheckoutButtonOptimizerScriptTag%%
				<img src="%%GLOBAL_IMG_PATH%%/%%GLOBAL_SiteColor%%/CheckoutButton.gif" alt="%%LNG_CheckoutButtonTitle%%" />
			%%GLOBAL_CartCheckoutButtonOptimizerNoScriptTag%%

			</a>
			%%GLOBAL_AdditionalCheckoutButtons%%
		</span>
		%%LNG_YourShoppingCart%%
	</h2>
</div>
<div>%%GLOBAL_ClosedStore%%</div>
<div>%%GLOBAL_ClosedStoreHelp%%</div>
%%Discount.FreeShippingEligibility%%
