<tr>
	<td>
		<strong>%%GLOBAL_ProductQuantity%% x %%GLOBAL_ProductName%%</strong>
		%%GLOBAL_ProductOptions%%
		<br />
		%%GLOBAL_EventDate%%
		<span class="Availability">%%GLOBAL_ProductAvailability%%</span>
		<div style="%%GLOBAL_HideGiftWrapping%%" class="WrappingOptions">
			%%LNG_GiftWrapping%%: %%GLOBAL_GiftWrappingName%%
			<br />
			<span style="%%GLOBAL_HideGiftMessagePreview%%">
				%%LNG_GiftMessage%%:
				%%GLOBAL_GiftMessagePreview%%
			</span>
		</div>
		<div style="margin-top: 10px;%%GLOBAL_HideCartProductFields%%">
			<dl class="VerticalFormContainer">
				%%GLOBAL_CartProductFields%%
			</dl>
		</div>
	</td>
	<td style="text-align: right;">
		%%GLOBAL_ProductPrice%%
	</td>
</tr>