<div class="SearchSorting SortBox" style="display: %%GLOBAL_HideSectionSorting%%">
	<div style="visibility:hidden;" id="SearchSortingSelectContainer">
		%%LNG_SortBy%%:
		<select id="SearchSorting%%GLOBAL_SectionType%%" name="SearchSorting%%GLOBAL_SectionType%%" class="SearchSortingList">
			%%GLOBAL_SectionSortingOptions%%
		</select>
	</div>
	<script language="javascript" type="text/javascript">//<![CDATA[
	// reveal the sorting options when is js available -- visiblity is used instead of display so the page flow doesn't change when loading
	$('#SearchSortingSelectContainer').css('visibility', 'visible');
	//]]></script>
</div>

<div class="CategoryPagination Clear" style="display: %%GLOBAL_HideSectionPaging%%">
	<div class="FloatLeft">%%GLOBAL_SectionPagingPrevious%%</div>
	<div class="FloatRight">%%GLOBAL_SectionPagingNext%%</div>
	<ul class="PagingList">
		<li>%%LNG_Pages%%:</li>
		%%GLOBAL_SectionPaging%%
	</ul>
</div>

<ul class="%%GLOBAL_SectionType%% Clear" >
	%%GLOBAL_SectionResults%%
</ul>

<br class="Clear" />

<div class="CategoryPagination" style="display: %%GLOBAL_HideSectionPaging%%">
	<div class="FloatLeft">%%GLOBAL_SectionPagingPrevious%%</div>
	<div class="FloatRight">%%GLOBAL_SectionPagingNext%%</div>
	<ul class="PagingList">
		<li>%%LNG_Pages%%:</li>
		%%GLOBAL_SectionPaging%%
	</ul>
</div>