				<div class="Block Moveable Panel" id="CategoryHeading">
					<div class="BlockContent">
						%%SNIPPET_CategorySortBox%%
						%%GLOBAL_CategoryNameOptimizerScriptTag%%
						<h2>%%GLOBAL_CatName%%</h2>
						%%GLOBAL_CategoryNameOptimizerNoScriptTag%%

						<div class="CategoryDescription">
						%%GLOBAL_CategoryDescriptionOptimizerScriptTag%%
							%%GLOBAL_CatDesc%%
						%%GLOBAL_CategoryDescriptionOptimizerNoScriptTag%%
						</div>
						%%SNIPPET_SubCategories%%
					</div>
				</div>