<div class="Clear AddThisButtonBox" style="text-align:center;width:%%GLOBAL_ProductThumbWidth%%PX; padding:10px 0 0 9px;">
	<!-- AddThis Button BEGIN -->
	<a class="addthis_button" href="%%GLOBAL_Protocol%%://www.addthis.com/bookmark.php?v=250&amp;pub=xa-4aa4857d5e87e10e"><img src="%%GLOBAL_Protocol%%://s7.addthis.com/static/btn/v2/lg-share-en.gif" width="125" height="16" alt="Bookmark and Share" style="border:0"/></a><script type="text/javascript" src="%%GLOBAL_Protocol%%://s7.addthis.com/js/250/addthis_widget.js?pub=xa-4aa4857d5e87e10e"></script>
	<!-- AddThis Button END -->
</div>