							<li class="%%GLOBAL_AlternateClass%% ListView">
								<div class="ProductImage">
									%%GLOBAL_ProductThumb%%
								</div>
								<div class="ProductDetails">
									<span class="ProductRightCol">
										<span class="ProductPrice">%%GLOBAL_ProductPrice%%</span>
										<span class="ProductQty" style="visibility:hidden;">
											%%GLOBAL_AddToCartQty%%
										</span>
									</span>
									<strong><a href="%%GLOBAL_ProductLink%%" class="TrackLink">%%GLOBAL_ProductName%%</a></strong>
									<div class="Rating Rating%%GLOBAL_ProductRating%%"><img src="%%GLOBAL_IMG_PATH%%/IcoRating%%GLOBAL_ProductRating%%.gif" alt="" style="%%GLOBAL_HideProductRating%%" /></div>
									<div class="ProductDescription">%%GLOBAL_ProductDescription%%</div>
									<div class="ProductCompareButton" style="display:%%GLOBAL_HideCompareItems%%;visibility:hidden;">
										<input type="checkbox" class="CheckBox" name="compare_product_ids" id="compare_%%GLOBAL_ProductId%%" value="%%GLOBAL_ProductId%%" onclick="product_comparison_box_changed(this.checked)" /> <label for="compare_%%GLOBAL_ProductId%%">%%LNG_Compare%%</label> <br />
									</div>
								</div>

							</li>