<html><body style="font-family:Arial; font-size:12px; margin: 0; padding: 20px;">
	<div>
		<h2 style="font-size:22px; height:30px; color:#cc6600; border-bottom:dashed 1px gray">%%LNG_ThanksForYourOrder%%</h2>
		<div style="width:100%; padding:10px; background-color:#FFF4EA">
			<img src="%%GLOBAL_IMG_PATH%%/InfoMessage.gif" />&nbsp;
			%%LNG_YourOrderIDIs%% <strong>#%%GLOBAL_OrderNumber%%</strong> %%LNG_HasBeenScheduled%%
		</div>
		%%LNG_TheNewDateIs%%: %%GLOBAL_ScheduledDate%%
				
		%%LNG_ShippingAddress%%
		
		%%GLOBAL_ShippingAddress%%
		<br />

		%%GLOBAL_EmailFooter%%
	</div>
</body>
</html>