		<br class="Clear" />
		<div id="Footer">
			<p>
				%%GLOBAL_AllPricesAreInCurrency%%
				Copyright %%GLOBAL_Year%% %%GLOBAL_StoreName%%.
				%%SNIPPET_SitemapLink%%
				%%GLOBAL_MobileSiteLink%%
				%%GLOBAL_PoweredBy%%
			</p>
			%%GLOBAL_DebugDetails%%
		</div>
		<br class="Clear" />
		</div>

		%%GLOBAL_DesignModeHTML%%
		%%GLOBAL_QueryList%%
		%%GLOBAL_DesignModeScriptTag%%
		%%GLOBAL_LiveChatFooterCode%%

		%%GLOBAL_OptimizerTrackingScript%%
		%%GLOBAL_OptimizerConversionScript%%
		%%GLOBAL_OptimizerSetCookieScript%%

		%%GLOBAL_FooterScripts%%
		%%SNIPPET_FastCartThickBoxJs%%
