<div class="FloatRight SortBox">
	<form action="%%GLOBAL_URL%%" method="get">
		<select name="qtyboxuser" id="qtyboxuser" onchange="this.form.submit()">
			<option %%GLOBAL_QtyBoxDefault%% value="defaultpg">Artículos por página</option>
			<option %%GLOBAL_QtyBoxFive%% value="5">5 artículos</option>
			<option %%GLOBAL_QtyBoxTen%% value="10">10 artículos</option>
			<option %%GLOBAL_QtyBoxFifteen%% value="15">15 artículos</option>
			<option %%GLOBAL_QtyBoxTwenty%% value="20">20 artículos</option>
			<option %%GLOBAL_QtyBoxTwentyfive%% value="25">25 artículos</option>
			<option %%GLOBAL_QtyBoxThirty%% value="30">30 artículos</option>
			<option %%GLOBAL_QtyBoxAll%% value="all">Todos los artículos</option>
		</select>
	</form>
</div>
