<div class="Block Moveable Panel" id="ForgotPasswordForm">
	<h2>%%LNG_ChangeYourPassword%%</h2>
	<div class="BlockContent">
		<p class="InfoMessage">
			%%LNG_ForgotPasswordIntroShort%%
		</p>

		<p class="ErrorMessage" style="display: %%GLOBAL_HideForgotPasswordError%%">
			%%GLOBAL_ErrorMessage%%
		</p>
		<form action="%%GLOBAL_ShopPath%%/login.php?action=send_password_email" method="post" onsubmit="return check_forgot_password_form()">
			<div class="FormContainer VerticalFormContainer">
				<dl>
					<dt>%%LNG_EmailAddress%%:</dt>
					<dd><input type="email" class="Textbox" name="email" id="email" /></dd>
				</dl>
				<p class="Submit"><input type="submit" value="%%LNG_Continue%%" /></p>
			</div>
		</form>
		<script type="text/javascript">
		//<![CDATA[
		document.getElementById("email").focus();
		//]]>
		</script>
		%%Panel.ForgotPasswordJavaScript%%
	</div>
</div>