		<div id="Footer">
			<p id="FullSiteLink">
				<a href="%%GLOBAL_FullSiteLink%%">%%LNG_FullSite%%</a>
				%%LNG_NotOptimizedForMobiles%%
			</p>
			<p style="%%GLOBAL_HideLogoutLink%%">
				<a href="%%GLOBAL_ShopPath%%/login.php?action=logout">%%LNG_Logout%%</a>
			</p>
			<p>
				%%GLOBAL_AllPricesAreInCurrency%%<br />
				Copyright %%GLOBAL_Year%% %%GLOBAL_StoreName%%.<br />
				%%GLOBAL_PoweredBy%%
			</p>
			%%GLOBAL_DebugDetails%%
		</div>
		<br class="Clear" />
		</div>


		%%GLOBAL_DesignModeHTML%%
		%%GLOBAL_QueryList%%
		%%GLOBAL_DesignModeScriptTag%%
		%%GLOBAL_FooterScripts%%