<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://opengraphprotocol.org/schema/">
%%Panel.HTMLHead%%
<body>
	<script type="text/javascript" src="%%GLOBAL_AppPath%%/javascript/product.functions.js?%%GLOBAL_JSCacheToken%%"></script>
	<script type="text/javascript" src="%%GLOBAL_AppPath%%/javascript/product.js?%%GLOBAL_JSCacheToken%%"></script>
	<div id="Container">
	%%Panel.Header%%

	<div id="Wrapper">
		%%Panel.WrapperBanner%%
		<div class="Left" id="LayoutColumn1">
			%%Panel.SideCategoryList%%
			%%Panel.SideNewProducts%%
			%%Panel.SideNewsletterBox%%
			%%Panel.SideLiveChatServices%%
		</div>
		<div class="Content" id="LayoutColumn2">
			%%Panel.ProductBreadcrumb%%
			%%Panel.ProductDetails%%
			%%Panel.ProductTabs%%
			%%Panel.ProductDescription%%
			%%Panel.ProductVideos%%
			%%Panel.ProductWarranty%%
			%%Panel.ProductOtherDetails%%
			%%Panel.SimilarProductsByTag%%
			%%Panel.ProductByCategory%%
			%%Panel.ProductVendorsOtherProducts%%
			%%Panel.ProductReviews%%
			%%Panel.SimilarProductsByCustomerViews%%
		</div>
		<div class="Right" id="LayoutColumn3">
			%%Panel.SideCurrencySelector%%
			%%Panel.SideProductAddToWishList%%
			%%Panel.SideProductRelated%%
			%%Panel.SideProductRecentlyViewed%%
		</div>
		<br class="Clear" />
	</div>
	%%Panel.Footer%%
</div>
</body>
</html>